.toggle-lang-container {
    right: 20px;
    display: flex;

    .toggle-lang {
        margin: 0px 5px;
        width: 30px;
        opacity: 0.4;
        cursor: pointer;

        &.active {
            opacity: 1;
        }

        transition: 0.25s;

        &:hover,
        &:focus {
            transform: translateX(-0.25em);
            transform: translateY(-0.25em);
        }
    }
}