.content-block {

    min-width: 70vw;
    min-height: 100vh;
    padding: 0 15vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    &.content-active {}

    &:first-of-type {
        margin-top: 0;
        padding-top: 0;
    }

    .line {
        top: 1px;
        position: absolute;
        width: 5px;
        background-color: rksed;
    }

    .content-title {
        font-size: 64px;
        line-height: 55px;
        color: white;
        font-weight: bold;
        text-align: center;
        margin-bottom: 50px;
    }


    .content-avatar {
        padding: 10px;
        width: 100px;
        margin-bottom: 30px;
        object-fit: contain;
    }

    .content-subtitle {
        font-size: 48px;
        line-height: 55px;
        color: #00adb5;
        font-weight: bold;
        text-align: left;
    }



    .content-text,
    .content-experience {
        text-align: left;
        font-size: 32px;
        line-height: 35px;
        color: white;
        font-weight: 400;
        width: 100%;
        white-space: pre-line;
    }
}



@keyframes slide-content-active {
    0% {
        width: 0;
        opacity: 0;
    }

    100% {
        width: 100%;
        opacity: 1;
    }
}